<br/>
<div class="row" style="text-align: center;">
    <h3>Adicionar Livro</h3>
</div>
<div class="row" ng-controller="AddBookViewModel">
    <div>
        <div class="form-group">
            <label for="isbn">Isbn do livro</label>
            <input ng-model="newIsbn" id="isbn" type="text" class="form-control" placeholder="ISBN do livro"/>
        </div>
        <div class="form-group">
            <label for="title">Titulo do livro</label>
            <input ng-model="newTitle" id="title" type="text" class="form-control" placeholder="Titulo do livro"/>
        </div>
        <div class="form-group">
            <label for="publisher">Editora do livro</label>
            <input ng-model="newPublisher" id="publisher" type="text" class="form-control" placeholder="Editora do livro"/>
        </div>
        <div class="form-group">
            <label for="releaseDate">Publicação do livro (dd/mm/aaaa)</label>
            <input ng-model="newReleaseDate" id="releaseDate" type="date" class="form-control" placeholder="Data de publicação"/>
        </div>
        <div class="form-group">
            <label for="price">Preço do livro</label>
            <input ng-model="newPrice" id="price" type="number" class="form-control" placeholder="Preço do livro"/>
        </div>
        <div class="form-group">
            <label for="newAuthors">Autores do livro</label>
            <select ng-model="newAuthors" multiple class="form-control" id="newAuthors" name="newAuthors" ng-options="author.id as author.authorName for author in authors">
            </select>
        </div>
        <div class="form-group">
            <label for="reviewAuthorName">Autor da Crítica</label>
            <input ng-model="newReviewAuthorName" id="reviewAuthorName" name="isbn" type="text" class="form-control" placeholder="Nome do Autor da Critica"/>
            <br/>
            <label for="reviewRating">Nota da Crítica (1 a 10)</label>
            <input ng-model="newReviewRating" class="form-control" id="reviewRating" placeholder="Nota da crítica" type="number"/>
            <br/>
            <label for="reviewTxt">Explicação da nota</label>
            <textarea ng-model="newReviewTxt" id="reviewTxt" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button ng-click="addBook()" type="button" class="btn btn-default">Adicionar Livro</button>
        </div>
    </div>
</div>