<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthorInsert</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.AuthorInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorRemove</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.AuthorRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorSearch</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.AuthorSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorUpdate</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.AuthorUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookInsert</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.BookInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRemove</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.BookRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchAuthor</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.BookSearchAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchISBN</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.BookSearchISBN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdate</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.BookUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewInsert</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.ReviewInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRemove</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.ReviewRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewSearch</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.ReviewSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewUpdate</servlet-name>
        <servlet-class>com.vitorricoy.bookmanagement.servlet.ReviewUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorInsert</servlet-name>
        <url-pattern>/AuthorInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorRemove</servlet-name>
        <url-pattern>/AuthorRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorSearch</servlet-name>
        <url-pattern>/AuthorSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorUpdate</servlet-name>
        <url-pattern>/AuthorUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookInsert</servlet-name>
        <url-pattern>/BookInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRemove</servlet-name>
        <url-pattern>/BookRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchAuthor</servlet-name>
        <url-pattern>/BookSearchAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchISBN</servlet-name>
        <url-pattern>/BookSearchISBN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdate</servlet-name>
        <url-pattern>/BookUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewInsert</servlet-name>
        <url-pattern>/ReviewInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRemove</servlet-name>
        <url-pattern>/ReviewRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewSearch</servlet-name>
        <url-pattern>/ReviewSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewUpdate</servlet-name>
        <url-pattern>/ReviewUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
